h1 {
    font-weight: lighter;
    color: white;
}

section {
    background-color: #586359;
}

section > h1 {
    text-align: center;
    background-color: #ceecf8;
    color: black;
}

section > p {
    font-style: italic;
}

p {
    background-color: #e0bf81;
    text-align: justify;
}

div {
    background-color: #ae7558;
    background-image: url(images/chopper.png);
    background-repeat: repeat-y;
    background-size: 3em;
    background-position: right;
}

div p {
    font-variant: small-caps !important;
    background-color: rgba(255, 255, 255, 0.8);
}

article {
    background-color: #e18474;
}

figure {
    background-color: #e0bf81;
}

footer {
    background-color: #e0bf81;
}